<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVCPersonne</display-name>
  <welcome-file-list>
    <welcome-file>SaisiePersonne.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjoutServlet</display-name>
    <servlet-name>AjoutServlet</servlet-name>
    <servlet-class>iset.controleur.AjoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutServlet</servlet-name>
    <url-pattern>/AjoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personne</display-name>
    <servlet-name>Personne</servlet-name>
    <servlet-class>iset.modele.Personne</servlet-class>
  </servlet>
</web-app>